.carousel-item {
  height: 562px;
}
.carousel-caption {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-weight: 479;
}
.d-block {
  opacity: 90%;
}

.helpinfo {
  border-right: 2px solid black;
}
.card-main {
  outline: none;
  margin: 0px 37px;
  border-radius: 30px;
}
.card-main > img {
  border-radius: 300px;
}

.card-text {
  font-size: large;
  font-weight: 560;
}
footer {
  background: #141414;
  color: white;
  padding: 41px 40px;
}
.centerfooter {
  margin-left: 120px;
  margin-bottom: 0px;
  margin-top: 0px;
}
footer{
  position: relative;
  top: 130px;
}
.height {
  height: 150px;
}
.rounded-search {
  border-radius: 30px;
}
.rounded-searchbox {
  border-radius: 8px;
}
.container-223 {
  position: absolute;
  top: 60px;
}


/* media queries for responsivness */
@media only screen and (max-width: 503px) {
  .card {
    display: none;
  }

  .card-main {
    display: none;
  }
  .accordion {
    display: none;
  }
}
.lighter-cap{
  font-size: 14px;
  font-weight: lighter;
  color: rgb(83, 83, 83);
  width: 150px;
}
.center-it-3{
  position: relative;
  left: 24px;
  font-weight: bold;
}
.center-it{
  position: relative;
  left: 38%;
}
.center-it-admin{
  position: relative;
  left: 38%;
}
.bg-g{
  background-color: rgb(74, 151, 74);
  border-radius: 10px;
}
.border-fluid{
  border:2px solid rgb(153, 152, 152);
}
.lighter-cap2{
  font-size: 20px;
  font-weight: normal;
  color: rgb(83, 83, 83);
  margin: 4px 0px;
}
i{
  cursor: pointer;
}
.moremargin{
  position: relative;
  top: 52px;
}
.top-more{
  position: relative;
  bottom:90px;
}
.marginforbut{
  margin-right: 8px;
}
