.carousel-item {
  height: 562px;
}
.carousel-caption {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-weight: 479;
}
.d-block {
  opacity: 90%;
}

.helpinfo {
  border-right: 2px solid black;
}
.card-main {
  outline: none;
  margin: 0px 37px;
  border-radius: 30px;
}
.card-main > img {
  border-radius: 300px;
}

.card-text {
  font-size: large;
  font-weight: 560;
}
footer {
  background: #141414;
  color: white;
  padding: 41px 40px;
}
.centerfooter {
  margin-left: 120px;
}
.height {
  height: 150px;
}
.rounded-search {
  border-radius: 30px;
}
.rounded-searchbox {
  border-radius: 8px;
}
.container-223 {
  position: absolute;
  top: 60px;
}


/* media queries for responsivness */
@media only screen and (max-width: 503px) {
  .card {
    display: none;
  }

  .card-main {
    display: none;
  }
  .accordion {
    display: none;
  }
}
.lighter-cap{
  font-size: 14px;
  font-weight: lighter;
  color: rgb(83, 83, 83);
  width: 150px;
}
.center-it{
  position: relative;
  left: 80px;
}